---
const { about_title, about_text = '', about_image, about_image_url, ...rest } = Astro.props;
const bulletList = Object.entries(rest)
    .filter(([key]) => key.startsWith('bullet_list_') && key.endsWith('_item'))
    .map(([_, value]) => value);

const paragraphs = about_text.split(/\r\n|\n/).filter((paragraph: string) => paragraph.trim() !== '');
---

<section id="about" class="about">
    <div class="about__container">
        {/* Mobiele versie van de afbeelding (alleen zichtbaar op mobiel) */}
        {about_image && (
            <div class="about__image about__image--mobile">
                <img src={about_image_url} alt="About image" class="about__img" />
            </div>
        )}
        <h2 class="about__title">{about_title}</h2>

        <div class="about__content">
            <div>
                <div class="about__text">
                    {paragraphs.map((paragraph: string) => (
                        <p>{paragraph}</p>
                    ))}
                </div>
                {bulletList.length > 0 && (
                    <ul class="about__list">
                        {bulletList.map((item: string) => (
                            <li>{item}</li>
                        ))}
                    </ul>
                )}
            </div>
            {/* Desktop versie van de afbeelding (alleen zichtbaar op desktop) */}
            {about_image && (
                <div class="about__image about__image--desktop">
                    <img src={about_image_url} alt="About image" class="about__img" />
                </div>
            )}
        </div>
    </div>
</section>